@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: 200;
    background-color: #000c14;
}

li {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.customCard {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}

.customCard:hover {
    background-image: linear-gradient(
        to right,
        rgba(255, 102, 0, 0.4),
        hsla(243, 74%, 4%, 0.4)
    ) !important;
}